#container
{
    display: flex;
    flex-direction: column;
    height:100vh;
}

#timeline
{
    display: flex;
    height: 75%;
    overflow: auto;
    border: 1px;
    margin: 5px;
}   

#bottom-panel
{
    display: flex;
    height: 15%;
}

#header
{
    display: flex;
    height: 10%;
    align-items: center;
    justify-content: end;
}

#canvas
{
    height: 100%;
    width: 100%;
    position: sticky;
    top: 0;
}

#sizer{
    height: 86400px;
}

input:invalid + span::after {
  content: "✖";
  padding-left: 5px;
}

input:valid + span::after {
  content: "✓";
  padding-left: 5px;
}

#start-time {
  display:flex;
  align-items: center;
}

#end-time{
  display: flex;
  align-items: center;
}

#time-range{
  display: flex;
  align-items: center;
  padding: 5px;
}