#container
{
    display: flex;
    flex-direction: column;
}

#box {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-auto-rows: 150px;
    height: 100%;
}

#timeline
{
    grid-column: span 5;
    grid-row: span 5;
    display: flex;
    overflow: auto;
}   

#request-detail
{
    grid-column: span 5;
    padding-top: 10px;
    padding-left: 5px;
}

#time-selection
{
    grid-column: span 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#canvas
{
    height: 100%;
    width: 100%;
    position: sticky;
    top: 0;
}

#sizer{
    height: 86400px;
}

input:invalid + span::after {
  content: "✖";
  padding-left: 5px;
}

input:valid + span::after {
  content: "✓";
  padding-left: 5px;
}

#start-time {
  display:flex;
  align-items: center;
}

#end-time{
  display: flex;
  align-items: center;
}

#time-range{
  display: flex;
  align-items: center;
  padding: 5px;
}

.request-detail-list
{
    display: grid;
    grid-template-columns: auto 1fr;
}

.request-detail-key
{
    font-weight: bold;
}

.request-detail-key::after
{
  content: ':';
}