#container
{
    display: flex;
    flex-direction: column;
    height:100vh;
}

#timeline
{
    display: flex;
    height: 70%;
    overflow: auto;
}   

#bottom-panel
{
    display: flex;
    flex: 1;
}

#header
{
    display: flex;
    height: 5%;
}

#canvas
{
    height: 100%;
    width: 100%;
    position: sticky;
    top: 0;
}

#sizer{
    height: 86400px;
}

